name: Package and release application

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11

      # if pytest is needed, install it here
      # - name: Install Python required packages
      #   run: pip install -r requirements.txt pyinstaller

      - name: Install Python required packages
        run: pip install . && pip install pyinstaller

      - name: Package python project
        run: .\scripts\build.bat
        shell: cmd

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: test-${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload windows artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist/clab_datalogger_receiver_app.exe
          asset_name: clab_datalogger_receiver.exe
          asset_content_type: application/vnd.microsoft.portable-executable
